<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.2/phpunit.xsd"
         bootstrap="tests/autoload.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuites>
        <testsuite name="ApiPhpClient tests">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>src/Entity/Auth/TokenRequestAuthorizationCode.php</file>
            <file>src/Entity/Auth/TokenRequestPassword.php</file>
            <file>src/Entity/Auth/TokenRequestRefresh.php</file>
        </whitelist>
    </filter>
</phpunit>
